{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
| Forgetten Password
{% endblock title %}
{% block content %}
<main>
    <section class="container">
        <div class="row">
            <div class="col-md-8 mt-5 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h3>Password Reset Sent</h3>
                    </div>
                    <div class="card-body">
                        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                        entered. You should receive them shortly.</p>
                        <br>
                        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                            your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}