{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
| Forgetten Password
{% endblock title %}
{% block content %}
<main>
    <section class="container">
        <div class="row">
            <div class="col-md-8 mt-5 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h3>Password Reset Complete</h3>
                    </div>
                    <div class="card-body">
                        <p>Your password has been set. You may go ahead and log in now.</p>
                        <br>
                        <small><a href="{% url 'auth:login' %}">Login</a></small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}