{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
| Detail Job Post
{% endblock title %}
{% block content %}
<main>
    <section id="add-job" class="my-5">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title text-center">Detail Job Post</h2>
                    </div>
                    <div class="card-body">
                        <div class="btn-group" role="group">
                            <a href="{% url 'dashboard:dashboard' %}" class="btn btn-secondary">Back</a>
                            <a href="{% url 'dashboard:edit-job-post' job.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'dashboard:delete-job-post' job.id %}" class="btn btn-danger">Delete</a>
                        </div>
                        <h5 class="card-title mt-4">Job Title : {{job.job_title}}</h5>
                        <h6 class="my-4 text-muted">Company Name : {{job.company_name}}</h6>
                        <p>Apply Date : {{job.apply_date|date:"j F Y, l"}}</p>
                        <p>Apply Platform : {{job.apply_platform}}</p>
                        <p>Job Post Link : <a href="{{job.job_post}}">Link</a></p>
                        <p>Status : {{job.status}}</p>
                        <label for="notes" class="mt-3">Notes :</label>
                        <p class="lead border border-2 rounded-3 p-3" id='notes'>{{job.notes|linebreaksbr}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}