{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
| Detail Resume
{% endblock title %}
{% block content %}
<main>
    <section id="add-job" class="my-5">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title text-center">Edit Resume</h2>
                    </div>
                    <div class="card-body">
                        <div class="btn-group" role="group">
                            <a href="{% url 'dashboard:edit-resume' resume.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'dashboard:delete-resume' resume.id %}" class="btn btn-danger">Delete</a>
                        </div>
                        <h4 class="card-title mt-4">Resume Name : {{resume.resume_name}}</h4>
                        <h6 class="mt-4 text-muted">Resume File : {{resume.getFilename}}</h6>
                        <label for="notes" class="mt-3">Comments :</label>
                        <p class="lead border border-2 rounded-3 p-3" id='notes'>{{resume.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}