{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
| Edit Resume
{% endblock title %}
{% block content %}
<main>
    <section id="add-job" class="my-5">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Edit Resume</h2>
                </div>
                <div class="card-body">
                    <form action="" class="row g-3" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-12 form-floating">
                            <input type="text" class="form-control" id="resumeName" name="resumeName" value="{{resume.resume_name}}" required>
                            <label for="resumeName">Resume Name</label>
                        </div>
                        <div class="col-12">
                            <label for="resumeFile" class="form-label">Resume File</label>
                            <p for="currently">Currently : <a href="{{resume.resume_file.url}}">{{resume.resume_file}}</a></p>
                            <input class="form-control" type="file" id="resumeFile" name="resumeFile">
                        </div>
                        
                        <div class="col-12 form-floating">
                            <textarea class="form-control" id="description" style="height: 100px" name="description" required>{{resume.description}}</textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Submit" class="btn btn-outline-primary form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}